.sidebar {
    width: 30%;
    max-width: 300px;
    background-color: var(--slack-color);
    height: 100%;
}

.sidebar__header > :last-child {
    border-top: 1px solid var(--main-grey);
}

.sidebar__active div {
    background-color: blue;
}